services:
  zap-daemon:
    image: zaproxy/zap-stable
    container_name: zap-daemon
    command: >
      zap.sh -daemon -host 0.0.0.0 -port 8080
      -config api.key=73d7metj7ni8583vnhf668epng
      -config api.addrs.addr.name=.*
      -config api.addrs.addr.regex=true
    ports:
      - "8080:8080"

  flask-scanner:
    build: .
    container_name: flask-scanner
    environment:
      - ZAP_API_KEY=73d7metj7ni8583vnhf668epng
      - ZAP_PROXY=http://zap-daemon:8080
    ports:
      - "5001:5001"
    volumes:
      - ./instance:/app/instance
    depends_on:
      - zap-daemon

